<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <!-- The release workflow replaces these development identity values with
       the Product identity values configured in the GitHub repository. -->
  <Identity
    Name="Mireya.Store.Development"
    Publisher="CN=Mireya Development"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Mireya Digital Signage</DisplayName>
    <PublisherDisplayName>Mireya</PublisherDisplayName>
    <Description>Mireya Digital Signage display client</Description>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19041.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Mireya Digital Signage"
        Description="Mireya Digital Signage display client"
        BackgroundColor="transparent"
        Square44x44Logo="Images\Square44x44Logo.png"
        Square150x150Logo="Images\Square150x150Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Images\Wide310x150Logo.png"
          Square310x310Logo="Images\Square310x310Logo.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
