name: PR Build

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
      DOTNET_NOLOGO: true
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
          cache: true
          cache-dependency-path: |
            **/packages.lock.json
            **/*.csproj

      - name: Restore .NET tools
        run: dotnet tool restore

      - name: Restore dependencies
        run: |
          dotnet restore ./src/Mireya.Api/Mireya.Api.csproj
          dotnet restore ./src/Mireya.Client.Avalonia/Mireya.Client.Avalonia.csproj
          dotnet restore ./src/Mireya.ApiClient/Mireya.ApiClient.csproj

      - name: Build backend API
        run: dotnet build ./src/Mireya.Api/Mireya.Api.csproj --configuration Release --no-restore

      - name: Build API client
        run: dotnet build ./src/Mireya.ApiClient/Mireya.ApiClient.csproj --configuration Release --no-restore

      - name: Build Avalonia client
        run: dotnet build ./src/Mireya.Client.Avalonia/Mireya.Client.Avalonia.csproj --configuration Release --no-restore
